.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 80px;
  padding: 16px;
  box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.1);
}
.next-step-button {
  background-color: #022959;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 12px 16px;
  font-weight: 500;
  cursor: pointer;
}
.confirm-button {
  background-color: #483eff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  padding: 12px 16px;
  font-weight: 500;
  cursor: pointer;
}
.go-back-button {
  color: #9699aa;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .buttons-container {
    box-shadow: none;
  }
}